body{
    width: 100%;

}

#map {
    float: clear;

    height: 70vh;
  }
  
 
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }




h3{
	font-size: 25px;
}



p{
	margin-left: 145px;
	width: 80%;
	text-align: left;
	font-size: 20px;
	 
}